* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;    
    color: #d4c9a8;
}

body {
    background-color: #06110b;
}

h1 {
    display: none;
}

h2 {
    color: #c8922a;
    margin-bottom: 5vh;
    font-weight: 900;
    font-size: 5vh;
}

h3 {
    font-weight: 700;
    margin-bottom: 3vh;
    font-size: 3vh;
}

h4 {
    font-weight: 600;
    margin-bottom: 2vh;
}

img {
    max-width: 100%;
    display: block;
}

main {
    margin-left: 10vh;
    margin-right: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: gold;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
    margin-bottom: 8vh;
    background-color: #384335;
    li a{
        color: #c8922a;
        font-weight: 700;
    }
}

footer {
    background-color: #384335;
    color: #c8922a;
    padding: 2vh;
    text-align: center;
}

.imagenes {
    margin-bottom: 2vh;
}

.generos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.genero {
    background-color: #8b4513;
    padding: 0.5vh 1vh;
    border-radius: 35px;
    cursor: default;
}

.contenedorIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedorPoster {
    display: flex;
    justify-content: center;
}

#introduccion {
    margin-bottom: 2vh;
}

#poster {
    height: 70vh;
}

.contornoCajas {
    border-radius: 10px;
    background-color: #384335;
    border: 1px solid #61594c;
    padding: 2vh;

    .contenedorImagenes{
        position: relative;

        .imgOculta {
            position: absolute;
            top: 0;
            opacity: 0;
        }
    }

    .contenedorImagenes:hover {
        .imgVista{
            opacity: 0;
        }

        .imgOculta{
            opacity: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.gap-20{
    gap: 20px;
}

.containerConfimacion, .containerError {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

.containerError {
    background-image: url('./recursos/imagenes/rotk_eye_of_sauron.avif');
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerGlass {
    background: rgba(56, 67, 53, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(56, 67, 53, 0.24);

    margin: 5vh;
    padding: 3vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageError {
    color: #a12b00;
    text-shadow: 2px 2px 2px #384335;
    margin-bottom: 2vh;
}

.buttonReturnHome {
    padding: 1vh 2vh;
    border-radius: 35px;
    display: inline-block;
    background-color: #06110b;
}

.buttonReturnHome:hover, .btnEnviar:hover {
    transform: scale(1.1);
}
