.containerConfimacion {
    background-image: url('../../recursos/imagenes/contacto/el-senor-anillos-el-retorno-del-rey-favorita-l-4za4ky.jpeg');
    display: flex;
    align-items: flex-start;
}


.containerMessage {
    h2, h3 {
        text-shadow: 2px 2px 2px #384335;
        margin-bottom: 2vh;
    }
    
}