.fotosActores {
    border-radius: 10px;
    border: 2px solid #61594c;
}

.actores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 5vh;
}

.contenedorImagenes {
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    height: 400px;
}